@import '../../styles/variables';
.wrapper {
  width: 150px;
}
.currentPeriod {
  text-align: center;
  padding-bottom: 5px;
  color: $primary-text-color;
}
.button {
  width: 4px;
  height: 10px;
  border: none;
  background-color: transparent;
  padding-bottom: 15px;
}
.buttonPrev {
  padding-right: 10px;
}
.buttonNext {
  padding-left: 10px;
}
.date {
  text-align: center;
  display: inline-block;
  width: 100px;
  text-transform: uppercase;
  font-weight: 700;
}
.calendarNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
