@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.AuthorizationForm {
  background-color: $white-color;
  margin: 50px 0 0 0;
  padding: 40px 20px 22px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;

  @include for-size(tablet) {
    margin: 50px auto 0 auto;
    padding: 50px 77px 30px;
    width: 436px;
  }

  // @include for-size(desktop) {
  //   margin: 117px auto 0 auto;
  // }
}

.googleAuthBlock {
  text-align: center;
  margin: 0 10px 30px;

  @include for-size(tablet) {
    text-align: left;
  }
}

.googleAuthText {
  color: $primary-text-color;
  margin-bottom: 24px;
  font-size: 10px;

  @include for-size(tablet) {
    font-size: 12px;
  }
}

.googleAuthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-gray-color;
  margin: 0 auto;
  padding: 0 20px;
  width: 122px;
  min-height: 40px;
  border-radius: 26px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 3px 3px rgba(170, 178, 197, 0.4);
  text-decoration: none;
  color: black;
  border: none;

  &:hover,
  &:focus {
    outline: none;
    background-color: #f1f2f7;
  }

  & svg {
    margin-right: 10px;
  }
}

.authBlock {
  margin: 0 10px 18px;
}

.authText {
  color: $primary-text-color;
  margin-bottom: 24px;
  font-size: 10px;

  @include for-size(tablet) {
    font-size: 12px;
  }
}

.emailBlock,
.passwordBlock {
  display: flex;
  flex-direction: column;

  & label {
    padding-bottom: 12px;
    font-size: 10px;

    @include for-size(tablet) {
      font-size: 12px;
    }
  }

  & input {
    font-size: 14px;
    min-height: 52px;
    margin: 0;
    padding: 0 20px;
    border: none;
    border-radius: 30px;
    background-color: $secondary-gray-color;
    width: 100%;

    &::placeholder {
      color: #a6abb9;
    }
  }
}

.emailBlock {
  margin-bottom: 8px;
}

.passwordInputBlock {
  position: relative;
  margin: 0 0 8px 0;
}

.passwordButton {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
  background-color: transparent;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  max-width: 50px;
  min-height: 36px;
  font-size: 10px;
  border: none;
  border-radius: 20px;
  color: transparent;

  &:hover,
  &:focus {
    color: $secondaty-text-color;
  }
}

.emailError,
.passwordError,
.formError {
  font-size: 10px;
  color: red;
  min-height: 14px;

  @include for-size(tablet) {
    font-size: 12px;
  }
}

.formError {
  margin: 8px 10px 0;
}

.buttonsBlock {
  display: flex;
  justify-content: center;
}

.loginButton,
.registrationButton {
  width: 125px;
  min-height: 44px;
  border: none;
  border-radius: 16px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 3px 3px rgba(170, 178, 197, 0.4);
}

.loginButton {
  margin-right: 15px;
  background-color: $primary-orange-color;
  color: $white-color;

  &:hover,
  &:focus {
    background-color: #ff873c;
  }
}

.registrationButton {
  color: $primary-text-color;
  background-color: $primary-gray-color;

  &:hover,
  &:focus {
    background-color: #f1f2f7;
  }
}
