@import '../../styles/_mixins.scss';
@import '../../styles/variables';

// ----------------------------------------> List

.table__head {
  //   position: relative;
  margin: 0;
  padding: 0;

  background-color: $primary-gray-color;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  @include for-size(tablet) {
    margin-top: 50px;
  }

  @include for-size(desktop) {
    width: 760px;
    margin-top: 40px;
  }
}

.table__body {
  // для корзины:
  position: relative;

  height: 50px;
  background-color: #ffffff;
  border-width: 0px 2px 2px 2px;
  border-color: $primary-gray-color;
  border-style: solid;

  @include for-size(tablet) {
    // width: 600px; //605
    height: 40px;
  }

  @include for-size(desktop) {
    width: 760px;
  }
}

.table__title {
  font-weight: bold !important; //.table__box :nth-child(2) дальше перебивает
  text-transform: uppercase;

  margin-top: auto;
  margin-bottom: auto;
}

.table__text {
  margin-top: auto;
  margin-bottom: auto;
}

// --------->
.table__box {
  display: flex;
  padding-left: 0px;

  height: 50px;

  @include for-size(tablet) {
    height: 40px;
    padding-left: 20px;
  }
}

.table__box :first-child {
  font-size: 8px;
  width: 42px;
  margin-right: 20px;

  // ------Позиционирование для мобилки
  margin-bottom: 0;
  margin-top: 33px;

  @include for-size(tablet) {
    min-width: 84px;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.table__box :last-child {
  text-align: end;
  width: 84px;
  margin-right: 30px;

  @include for-size(tablet) {
    margin-right: 84px;
    margin-left: 0;
    min-width: 104px;
    width: 104px;
  }

  @include for-size(desktop) {
    margin-right: 136px;
    margin-left: 20px;
  }
}

.table__box :nth-child(3) {
  text-align: center;
  width: 104px;
  font-size: 8px;

  // ------Позиционирование для мобилки
  margin-bottom: 0;
  margin-top: 33px;

  @include for-size(tablet) {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 124px;
    margin-left: 20px;
  }

  // @include for-size(desktop) {
  //   min-width: 172px;
  // }
}

.table__box :nth-child(2) {
  font-weight: bold;
  position: absolute;
  margin-top: 10px;
  width: 100%;

  @include for-size(tablet) {
    font-weight: normal;
    position: static;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// -------------------------------------> Корзина

.item__remove {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 17px;
  right: 10px; // до центра

  @include for-size(tablet) {
    right: 30px; // до центра
    top: 12px;
  }

  @include for-size(desktop) {
    right: 60px; // до центра
  }
}

.table__body_container {
  overflow-y: scroll;
  overflow-x: hidden;
  // scrollbar-color: red;
  // scrollbar-width: 1px;
  // scrollbar-color: rebeccapurple green;

  @include for-size(tablet) {
    height: 360px;
    width: 605px;
  }

  @include for-size(desktop) {
    height: 360px;
    width: 760px;
  }
}
