@import '../../styles/_variables.scss';

.balanceModal {
 left: 11px;
position: relative;
top: -36px;
border-radius: 30px;
padding: 30px 25px;
width: 282px;
background: rgb(3, 22, 52);
background: linear-gradient(299deg, rgba(3, 22, 52, 1) 80%, rgba(4, 16, 43, 0.7917542016806722) 100%);
}


.balanceModal::before {
  content: "";
border: 12px solid transparent;
border-bottom: 15px solid rgb(3, 22, 52);;
position: absolute;
left: 22%;
margin-left: -12px;
top: -26px;
width: 0;
}
.text {
  margin-bottom: 12px;
   line-height: 1.4;
  width: 232px;
  color :$white-color;
  font-size: 14px;
}
// .triangleUp {
//   position: absolute;
// bottom: 159px;
// left: 57px;
//  border: 10px solid transparent;
// border-bottom: 13px solid rgba(3, 22, 52, 1);
// display: block;
// width: 0;
// height: 0;
// }