@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.balanceModal {
  z-index: 1;
position: absolute;
    top: 241px;
    left: 20px;
border-radius: 30px;
padding: 30px 25px;
background: rgb(3, 22, 52);
background: linear-gradient(299deg, rgba(3, 22, 52, 1) 80%, rgba(4, 16, 43, 0.7917542016806722) 100%);
}


.balanceModal::before {
  content: "";
border: 12px solid transparent;
border-bottom: 15px solid rgb(3, 22, 52);;
position: absolute;
left: 22%;
margin-left: -12px;
top: -26px;
width: 0;
}
.text {
  text-align: initial;
  margin-bottom: 12px;
   line-height: 1.4;
  width: 232px;
  color :$white-color;
  font-size: 13px;
}


@include for-size(tablet-only) {
.balanceModal {
  display: none;
}
}


@include for-size(desktop) {
.balanceModal {
  z-index: 2;
top: 154px;
left: 423px;
}

}

