@import '../../styles/_mixins.scss';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include for-size(mobile-only) {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
   
  }

  @include for-size(tablet) {
    width: 705px;
  }

  @include for-size(desktop) {
    width: 1100px;
  }
}
