$primary-gray-color: #f5f6fb;
$secondary-gray-color: #f6f7fb;
$primary-orange-color: #ff751d;
$black-color: #000000;
$primary-text-color: #52555f;
$secondaty-text-color: #c7ccdc;
$icon-color: #071f41;
$chart-color: #ffdac0;
$green-color: #407946;
$red-color: #e53935;
$white-color: #ffffff;
