@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.balanceWrap {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  // border: 1px solid black;

  @include for-size(tablet) {
    flex-direction: row;
  }
}
.main {
  @include for-size(tablet) {
    padding-bottom: 90px;
    background: url(../../img/tablet-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 103px;
  }
  @include for-size(desktop) {
    padding-bottom: 84px;
    background: url(../../img/desktop-bottom.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 230px;
  }
}
