@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';



.balanceLink {
  justify-content: center;
  display: flex;
color: $primary-text-color;
list-style: none;
text-decoration: none;
margin-top: 30px;;
margin-bottom: 40px;
}

.svg {
  display: block;
  width: 14px;
  padding: 0;
  height: 14px;
fill: $primary-text-color;
margin-left: 20px;
}


