@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.balanceValue {
  display: inline-flex;
  justify-content: center;
  order: 1;
  padding: 0 0 40px 0;
  // border: 1px solid yellow;
  min-width: 154px;

  @include for-size(tablet) {
    order: 2;
    padding: 0;
  }
}

.balanceLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  list-style: none;
  text-decoration: none;
}

.svg {
  padding: 0;
  fill: $primary-text-color;
  margin-left: 15px;
}
