@import '../../styles/mixins';
@import '../../styles/variables';

.table {
  width: 230px;

  border-collapse: collapse;
  border-radius: 20px 20px 20px 0px;
  overflow: hidden;

  @include for-size(tablet-only) {
    margin-top: 40px;
  }
}

.tableHeader {
  font-weight: 700;
}

.table th {
  height: 38px;
  background-color: $primary-gray-color;

  border-bottom: 2px solid white;
}
th {
  font-weight: 400;
}
.month {
  text-transform: uppercase;
  text-align: left;
  padding-left: 22px;
}
.sum {
  padding-right: 20px;
  text-align: center;
}
