@import '../../styles/mixins';
@import '../../styles/variables';

.balanceWrap {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  // border: 1px solid black;

  @include for-size(tablet) {
    flex-direction: row;
  }
}

.wrapper {
  margin-bottom: 30px;
}
