@import '../../styles/mixins';
@import '../../styles/variables';

.balanceWrap {
  display: flex;
  flex-direction: column;

  // border: 1px solid black;

  @include for-size(mobile) {
    align-items: center;
  }
  @include for-size(tablet) {
    flex-direction: row;
  }
  @include for-size(desktop) {
    margin-left: 150px;
  }
}

.wrapper {
  margin-bottom: 30px;
  @include for-size(mobile-only) {
    margin-top: 30px;
  }
}
.barWrapper {
  // border: 1px solid black;

  @include for-size(tablet) {
    padding: 40px 0;

    display: flex;
    align-items: center;
  }
}
.main {
  // @include for-size(tablet) {
  //   padding-bottom: 90px;
  //   // background: url(../../img/tablet-bottom.svg);
  //   background-repeat: no-repeat;
  //   background-position-y: 60%;
  //   background-position-x: 90%;
  //   height: 100vw;
  // }
  @include for-size(desktop) {
    padding-bottom: 84px;
    background: url(../../img/desktop-bottom2.svg);
    background-repeat: no-repeat;
    background-position-y: 98%;
    background-position-x: center;
    height: 100vw;
  }
}
