@import '../../styles/_mixins.scss';
@import '../../styles/variables';

// ----------------------------------------> Section

.section {
  background-color: $white-color;
  // background-color: lightgreen;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  //   padding-top: 136px; //DELETE!!!!

  padding-bottom: 0px;

  @include for-size(tablet) {
    padding-left: 10px; //30 должно быть
    padding-right: 10px;
    padding-bottom: 50px;
  }

  @include for-size(desktop) {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 61px;
  }
}

.button__flexbox {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  top: 550px;

  @include for-size(tablet) {
    justify-content: flex-start;
    position: static;
  }
}
