@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.balanceWrapper {
  display: flex;
  flex-direction: column;
  order: 2;
  color: $primary-text-color;
  text-align: center;
  // border: 1px solid red;
  margin-right: auto;
  width: 100%;

  @include for-size(tablet) {
    display: block;
    order: 1;
  }
}


.balanceText {
  min-height: 20px;
  margin-bottom: 6px;
  color: inherit;
  // border: 1px solid green;

  @include for-size(tablet) {
    display: inline-flex;
    align-items: center;
    margin-right: 21px;
  }
}

.balanceForm {
  display: inline-block;
  // border: 1px solid blue;
}

.balanceInput,
.balanceButton {
  width: 125px;
  min-height: 44px;
  border: 2px solid #ffffff;
  background-color: transparent;
  margin: 0;
  padding: 13px 17px;
}

.balanceInput {
  color: black;
  text-align: right;
  font-weight: 700;
  border-radius: 22px 0 0 22px;

  &::placeholder {
    color: inherit;
  }

  @include for-size(tablet) {
    margin-right: 15px;
    border-radius: 16px;
  }
}

.balanceButton {
  color: inherit;
  border-radius: 0 22px 22px 0;
  transition: ease 0.3s;

  &:hover,
  &:focus {
    background-color: $primary-orange-color;
    border-color: $primary-orange-color;
    color: white;
  }

  @include for-size(tablet) {
    border-radius: 16px;
  }
}
