@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
.balanceText {
  margin-bottom: 6px;
}

.balanceForm {
    text-align: center;
}
.balanceText {
  text-align: center;
  color: $primary-text-color;
}

.balanceForm {
  margin: 0 auto;
  max-width: 280px;
  position: relative;
}

.balanceInput {
  padding-left: 30px;
  color: $black-color;
  font-weight: 700;
  width: 115px;
  padding: 12px ;
  border: 2px solid white;
  border-right: 1px solid white;
  background-color: #F5F6FB;
  border-top-left-radius:  20px ;
  border-bottom-left-radius: 20px;
  margin-bottom: 50px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.balanceInput::placeholder {
  font-weight: 400;
    color: $black-color;
  text-align: center;
}

.balanceButton {
  color: $primary-text-color;
  width: 115px;
  font-size: 12px;
  font-weight: 400;
  padding: 12px;
  border: 2px solid white;
  border-left: 1px solid white;
background-color: #F5F6FB;
border-top-right-radius : 20px;
border-bottom-right-radius: 20px;
margin-bottom: 50px;
cursor: pointer;
transition: ease 0.3s;
}

.balanceButton:hover {
  border-color: $primary-orange-color;
  color: $white-color;
  background-color: $primary-orange-color;
}



@include for-size(tablet) {
.balanceWrapper {
  padding-top: 40px;
width: 635px;
  display: flex;
  margin: 0 auto;
   align-items: baseline;
}
.balanceForm {
  margin-left: 60px;
}
.balanceInput {
  margin-right: 15px;
  border-radius: 20px;
}
.balanceButton {
  border-radius: 20px;
}
}

@include for-size(tablet) {
  .balanceWrapper {
    width: 369px;
  }
}